In [1]:
!pwd

/Users/miguelcamargorojas/Documents/UP/NLP-Ago-dic24/Semana II

In [2]:
!ls sample_data

ls: sample_data: No such file or directory

In [3]:
!python3 -V

Python 3.11.6

In [4]:
!python3 -m pip install numpy pandas

Requirement already satisfied: numpy in /opt/homebrew/lib/python3.11/site-packages (1.26.3)
Requirement already satisfied: pandas in /opt/homebrew/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/miguelcamargorojas/Library/Python/3.11/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/miguelcamargorojas/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python3.11 -m pip install --upgrade pip

In [5]:
!python3 -m pip list

Package                      Version
---------------------------- ---------
absl-py                      2.0.0
appnope                      0.1.3
asttokens                    2.2.1
astunparse                   1.6.3
backcall                     0.2.0
cachetools                   5.3.1
certifi                      2023.7.22
cffi                         1.16.0
charset-normalizer           3.2.0
comm                         0.1.3
debugpy                      1.6.7
decorator                    5.1.1
docutils                     0.20.1
executing                    1.2.0
flatbuffers                  23.5.26
gast                         0.5.4
google-auth                  2.23.2
google-auth-oauthlib         1.0.0
google-pasta                 0.2.0
grpcio                       1.58.0
h5py                         3.9.0
idna                         3.4
ipykernel                    6.23.1
ipython                      8.13.2
jedi                         0.18.2
jupyter_client               8.2.0
jupyter_core                 5.3.0
keras                        2.14.0
libclang                     16.0.6
Markdown                     3.4.4
matplotlib-inline            0.1.6
ml-dtypes                    0.2.0
nest-asyncio                 1.5.6
numpy                        1.26.3
oauthlib                     3.2.2
opencv-python                4.9.0.80
opt-einsum                   3.3.0
packaging                    23.1
pandas                       2.2.2
parso                        0.8.3
pexpect                      4.8.0
pickleshare                  0.7.5
pip                          23.2.1
platformdirs                 3.5.1
prompt-toolkit               3.0.38
protobuf                     4.24.3
psutil                       5.9.5
ptyprocess                   0.7.0
pure-eval                    0.2.2
pyasn1                       0.5.0
pyasn1-modules               0.3.0
pycparser                    2.21
Pygments                     2.15.1
python-dateutil              2.8.2
pytz                         2024.1
pyzmq                        25.1.0
requests                     2.31.0
requests-oauthlib            1.3.1
rsa                          4.9
setuptools                   68.2.2
six                          1.16.0
stack-data                   0.6.2
tensorboard                  2.14.1
tensorboard-data-server      0.7.1
tensorflow-estimator         2.14.0
tensorflow-io-gcs-filesystem 0.34.0
tensorflow-macos             2.14.0
termcolor                    2.3.0
tornado                      6.3.2
traitlets                    5.9.0
typing_extensions            4.8.0
tzdata                       2024.1
urllib3                      2.0.5
wcwidth                      0.2.6
Werkzeug                     2.3.7
wheel                        0.41.2
wrapt                        1.14.1

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python3.11 -m pip install --upgrade pip

In [6]:
import numpy as np
import pandas as pd

# Repaso de numpy

In [7]:
lista = [1, 1.1, True, "", [], (), {}]

In [8]:
type(lista)

list

In [9]:
list(range(0, 10, 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
np.arange(1, 10, .5)

array([1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5, 6. , 6.5, 7. ,
       7.5, 8. , 8.5, 9. , 9.5])

In [11]:
arreglo1 = np.arange(1, 10, .5)

In [12]:
dir(arreglo1)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_finalize__',
 '__array_function__',
 '__array_interface__',
 '__array_prepare__',
 '__array_priority__',
 '__array_struct__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__class_getitem__',
 '__complex__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__divmod__',
 '__dlpack__',
 '__dlpack_device__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__ilshift__',
 '__imatmul__',
 '__imod__',
 '__imul__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__irshift__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lshift__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__xor__',
 'all',
 'any',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'astype',
 'base',
 'byteswap',
 'choose',
 'clip',
 'compress',
 'conj',
 'conjugate',
 'copy',
 'ctypes',
 'cumprod',
 'cumsum',
 'data',
 'diagonal',
 'dot',
 'dtype',
 'dump',
 'dumps',
 'fill',
 'flags',
 'flat',
 'flatten',
 'getfield',
 'imag',
 'item',
 'itemset',
 'itemsize',
 'max',
 'mean',
 'min',
 'nbytes',
 'ndim',
 'newbyteorder',
 'nonzero',
 'partition',
 'prod',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'resize',
 'round',
 'searchsorted',
 'setfield',
 'setflags',
 'shape',
 'size',
 'sort',
 'squeeze',
 'std',
 'strides',
 'sum',
 'swapaxes',
 'take',
 'tobytes',
 'tofile',
 'tolist',
 'tostring',
 'trace',
 'transpose',
 'var',
 'view']

In [13]:
np.asarray([1, 2, 3, 4, 5])

array([1, 2, 3, 4, 5])

In [14]:
lista_de_listas = [[1, 2, 3], [4, 5, 6]]

In [15]:
len(lista_de_listas)

2

In [16]:
lista_de_listas[0][0]

1

In [17]:
arr = np.asarray(lista_de_listas)

In [18]:
type(arr)

numpy.ndarray

In [19]:
len(arr)

2

In [20]:
arr

array([[1, 2, 3],
       [4, 5, 6]])

In [21]:
arr.shape

(2, 3)

In [22]:
arr.dtype

dtype('int64')

In [23]:
arr.size

6

In [24]:
arr.reshape((3, 2))

array([[1, 2],
       [3, 4],
       [5, 6]])

In [25]:
arr.reshape((6, 1))

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6]])

In [26]:
arr.reshape((1, 6))

array([[1, 2, 3, 4, 5, 6]])

In [27]:
np.random.random(10)

array([0.34656652, 0.06241988, 0.70772838, 0.73985674, 0.03172282,
       0.28603272, 0.0354376 , 0.58282877, 0.97048232, 0.1867636 ])

In [28]:
np.random.seed(1)

In [29]:
np.random.random(10)

array([4.17022005e-01, 7.20324493e-01, 1.14374817e-04, 3.02332573e-01,
       1.46755891e-01, 9.23385948e-02, 1.86260211e-01, 3.45560727e-01,
       3.96767474e-01, 5.38816734e-01])

In [30]:
np.random.randint(0, 101, size=(10, 10))

array([[ 18,  84,  11,  28,  29,  14,  50,  68,  87,  87],
       [ 94,  96,  86,  13,   9,   7,  63,  61,  22,  57],
       [  1,   0,  60,  81,   8,  88,  13,  47,  72,  30],
       [ 71,   3,  70,  21,  49,  57,   3,  68,  24,  43],
       [ 76,  26,  52,  80,  41,  82,  15,  64,  68,  25],
       [ 98,  87,   7,  26,  25,  22,   9,  67,  23, 100],
       [ 27,  37,  57,  83,  38,   8,  32,  34,  10,  23],
       [ 15,  87,  25,  71,  92,  74,  62,  46,  32,  88],
       [ 23,  55,  65,  77,   3,   0,  77,   6,  52,  85],
       [ 70,   2,  76,  91,  21,  75,   7,  77,  72,  75]])

In [31]:
np.zeros((5, 5), dtype=np.int32)

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]], dtype=int32)

In [32]:
np.ones((5, 5), dtype=np.int32)

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]], dtype=int32)

In [33]:
arr2 = np.random.randint(0, 101, size=(10, 10))

In [34]:
arr2

array([[76, 43, 20, 30, 36,  7, 45, 68, 57, 82],
       [96, 13, 10, 23, 81,  7, 24, 74, 92, 20],
       [32, 12, 65, 94, 60, 24, 82, 97,  2, 92],
       [98, 10, 54, 96, 82, 86, 70, 66, 71, 48],
       [54, 15,  5, 17, 42, 20, 48, 22, 13, 97],
       [53, 84, 10, 96, 55, 61, 56, 89, 21, 96],
       [83, 25, 14, 13, 84, 43,  6, 77, 56, 59],
       [15, 24,  9, 66, 71, 53, 69, 36, 21, 40],
       [77, 91, 49, 47, 77, 40, 78, 45, 87, 16],
       [28, 45, 67, 66, 78, 46,  0, 29, 63, 75]])

In [35]:
arr2.shape

(10, 10)

In [36]:
arr2[0, 0]

76

In [37]:
arr2[4:, 4:]

array([[42, 20, 48, 22, 13, 97],
       [55, 61, 56, 89, 21, 96],
       [84, 43,  6, 77, 56, 59],
       [71, 53, 69, 36, 21, 40],
       [77, 40, 78, 45, 87, 16],
       [78, 46,  0, 29, 63, 75]])

In [38]:
arr2.min()

0

In [39]:
arr2.max()

98

In [40]:
arr2

array([[76, 43, 20, 30, 36,  7, 45, 68, 57, 82],
       [96, 13, 10, 23, 81,  7, 24, 74, 92, 20],
       [32, 12, 65, 94, 60, 24, 82, 97,  2, 92],
       [98, 10, 54, 96, 82, 86, 70, 66, 71, 48],
       [54, 15,  5, 17, 42, 20, 48, 22, 13, 97],
       [53, 84, 10, 96, 55, 61, 56, 89, 21, 96],
       [83, 25, 14, 13, 84, 43,  6, 77, 56, 59],
       [15, 24,  9, 66, 71, 53, 69, 36, 21, 40],
       [77, 91, 49, 47, 77, 40, 78, 45, 87, 16],
       [28, 45, 67, 66, 78, 46,  0, 29, 63, 75]])

In [41]:
arr2.min(axis=0) # axis=0 pregunta por columna

array([15, 10,  5, 13, 36,  7,  0, 22,  2, 16])

In [42]:
arr2.min(axis=1) # axis=1 pregunta por fila

array([ 7,  7,  2, 10,  5, 10,  6,  9, 16,  0])

In [43]:
arr2.mean() # Promedio

50.67

In [44]:
arr2.std()

29.15477833906477

In [45]:
np.median(arr2)

53.0

Operaciones con arreglos

In [46]:
arr2 + 1

array([[77, 44, 21, 31, 37,  8, 46, 69, 58, 83],
       [97, 14, 11, 24, 82,  8, 25, 75, 93, 21],
       [33, 13, 66, 95, 61, 25, 83, 98,  3, 93],
       [99, 11, 55, 97, 83, 87, 71, 67, 72, 49],
       [55, 16,  6, 18, 43, 21, 49, 23, 14, 98],
       [54, 85, 11, 97, 56, 62, 57, 90, 22, 97],
       [84, 26, 15, 14, 85, 44,  7, 78, 57, 60],
       [16, 25, 10, 67, 72, 54, 70, 37, 22, 41],
       [78, 92, 50, 48, 78, 41, 79, 46, 88, 17],
       [29, 46, 68, 67, 79, 47,  1, 30, 64, 76]])

In [47]:
arr2 ** 2

array([[5776, 1849,  400,  900, 1296,   49, 2025, 4624, 3249, 6724],
       [9216,  169,  100,  529, 6561,   49,  576, 5476, 8464,  400],
       [1024,  144, 4225, 8836, 3600,  576, 6724, 9409,    4, 8464],
       [9604,  100, 2916, 9216, 6724, 7396, 4900, 4356, 5041, 2304],
       [2916,  225,   25,  289, 1764,  400, 2304,  484,  169, 9409],
       [2809, 7056,  100, 9216, 3025, 3721, 3136, 7921,  441, 9216],
       [6889,  625,  196,  169, 7056, 1849,   36, 5929, 3136, 3481],
       [ 225,  576,   81, 4356, 5041, 2809, 4761, 1296,  441, 1600],
       [5929, 8281, 2401, 2209, 5929, 1600, 6084, 2025, 7569,  256],
       [ 784, 2025, 4489, 4356, 6084, 2116,    0,  841, 3969, 5625]])

## Copiar arreglos

In [54]:
arr1 = np.array(range(10))

In [55]:
# Copiar 
tmp = arr1

In [57]:
print(arr1, tmp)

[0 1 2 3 4 5 6 7 8 9] [0 1 2 3 4 5 6 7 8 9]

In [58]:
arr1[0] = 100

In [59]:
print(arr1, tmp)

[100   1   2   3   4   5   6   7   8   9] [100   1   2   3   4   5   6   7   8   9]

In [60]:
arr1 = np.array(range(10))
tmp = arr1.copy()

In [61]:
print(arr1, tmp)

[0 1 2 3 4 5 6 7 8 9] [0 1 2 3 4 5 6 7 8 9]

In [62]:
arr1[-1] = 100

In [63]:
print(arr1, tmp)

[  0   1   2   3   4   5   6   7   8 100] [0 1 2 3 4 5 6 7 8 9]

# Pandas

In [64]:
serie1 = pd.Series(range(1, 11))

In [65]:
type(serie1)

pandas.core.series.Series

In [51]:
dir(serie1)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_expanddim_from_mgr',
 '_constructor_from_mgr',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_flex_method',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_rows_with_mask',
 '_get_value',
 '_get_values_tuple',
 '_get_with',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_shift_with_freq',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'case_when',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'list',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'struct',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [66]:
serie1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [68]:
serie1[9]

10

In [71]:
serie1[5:7]

5    6
6    7
dtype: int64

In [72]:
serie1 + 10

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
9    20
dtype: int64

In [74]:
serie1 ** 2

0      1
1      4
2      9
3     16
4     25
5     36
6     49
7     64
8     81
9    100
dtype: int64

In [73]:
serie1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [76]:
# Copiado de Series
serie2 = serie1
print(serie1, "\n" , serie2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
 0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [77]:
serie1[0] = 200
print(serie1, "\n" , serie2)

0    200
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
dtype: int64
 0    200
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
dtype: int64

In [78]:
serie2 = serie1.copy()
serie1[-1] = 500
print(serie1, "\n" , serie2)

 0    200
 1      2
 2      3
 3      4
 4      5
 5      6
 6      7
 7      8
 8      9
 9     10
-1    500
dtype: int64
 0    200
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
dtype: int64

In [79]:
def f(x):
    if x % 2 == 0:
        return 100
    else:
        return None

In [81]:
serie1.apply(f)

 0    100.0
 1    100.0
 2      NaN
 3    100.0
 4      NaN
 5    100.0
 6      NaN
 7    100.0
 8      NaN
 9    100.0
-1    100.0
dtype: float64

In [82]:
serie1.apply(np.math.sqrt)

/var/folders/vr/9n_h2gsj7m16qv6j55xbdp2m0000gn/T/ipykernel_12780/3679405196.py:1: DeprecationWarning: `np.math` is a deprecated alias for the standard library `math` module (Deprecated Numpy 1.25). Replace usages of `np.math` with `math`
  serie1.apply(np.math.sqrt)

 0    14.142136
 1     1.414214
 2     1.732051
 3     2.000000
 4     2.236068
 5     2.449490
 6     2.645751
 7     2.828427
 8     3.000000
 9     3.162278
-1    22.360680
dtype: float64

In [83]:
import math

In [84]:
serie1.apply(math.sqrt)

 0    14.142136
 1     1.414214
 2     1.732051
 3     2.000000
 4     2.236068
 5     2.449490
 6     2.645751
 7     2.828427
 8     3.000000
 9     3.162278
-1    22.360680
dtype: float64

### pd.DataFrame

In [124]:
dir(pd.DataFrame())

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__arrow_c_stream__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__dataframe_consortium_standard__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_arith_method_with_reindex',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_from_mgr',
 '_constructor_sliced',
 '_constructor_sliced_from_mgr',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_flex_arith_method',
 '_flex_cmp_method',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values_for_csv',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_maybe_align_series_as_frame',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_shift_with_freq',
 '_should_reindex_frame_op',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'sparse',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [86]:
pd.Series(range(1, 11))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [126]:
df = pd.DataFrame(range(1, 11), columns=("valores", ))

In [94]:
df

   valores
0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10

In [92]:
type(df)

pandas.core.frame.DataFrame

In [97]:
df["valores"]

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: valores, dtype: int64

In [98]:
df["hola"]

KeyError: 'hola'

In [96]:
# No ocupamos index, ocupamos llave
type(df["valores"])

pandas.core.series.Series

In [127]:
df["val_mas1"] = df["valores"] + 1

In [103]:
df

   valores  val_mas1
0        1         2
1        2         3
2        3         4
3        4         5
4        5         6
5        6         7
6        7         8
7        8         9
8        9        10
9       10        11

In [128]:
df["val_log"] = df["valores"].apply(math.log)

In [113]:
df

   valores  val_mas1   val_log
0        1         2  0.000000
1        2         3  0.693147
2        3         4  1.098612
3        4         5  1.386294
4        5         6  1.609438
5        6         7  1.791759
6        7         8  1.945910
7        8         9  2.079442
8        9        10  2.197225
9       10        11  2.302585

In [107]:
df["val_mas1"] + 1

0     3
1     4
2     5
3     6
4     7
5     8
6     9
7    10
8    11
9    12
Name: val_mas1, dtype: int64

In [110]:
# Quitar columnas
del df["val_log"]

In [116]:
df

   valores  val_mas1   val_log
0        1         2  0.000000
1        2         3  0.693147
2        3         4  1.098612
3        4         5  1.386294
4        5         6  1.609438
5        6         7  1.791759
6        7         8  1.945910
7        8         9  2.079442
8        9        10  2.197225
9       10        11  2.302585

In [120]:
df = df.drop(columns="valores")

In [121]:
df

   val_mas1   val_log
0         2  0.000000
1         3  0.693147
2         4  1.098612
3         5  1.386294
4         6  1.609438
5         7  1.791759
6         8  1.945910
7         9  2.079442
8        10  2.197225
9        11  2.302585

In [122]:
df.drop(columns="val_mas1", inplace=True)

In [123]:
df

    val_log
0  0.000000
1  0.693147
2  1.098612
3  1.386294
4  1.609438
5  1.791759
6  1.945910
7  2.079442
8  2.197225
9  2.302585

In [129]:
df

   valores  val_mas1   val_log
0        1         2  0.000000
1        2         3  0.693147
2        3         4  1.098612
3        4         5  1.386294
4        5         6  1.609438
5        6         7  1.791759
6        7         8  1.945910
7        8         9  2.079442
8        9        10  2.197225
9       10        11  2.302585

In [130]:
len(df) # Devuelve cantidad de filas

10

In [134]:
df.head(-1)

   valores  val_mas1   val_log
0        1         2  0.000000
1        2         3  0.693147
2        3         4  1.098612
3        4         5  1.386294
4        5         6  1.609438
5        6         7  1.791759
6        7         8  1.945910
7        8         9  2.079442
8        9        10  2.197225

In [135]:
df.describe()

        valores  val_mas1    val_log
count  10.00000  10.00000  10.000000
mean    5.50000   6.50000   1.510441
std     3.02765   3.02765   0.733024
min     1.00000   2.00000   0.000000
25%     3.25000   4.25000   1.170533
50%     5.50000   6.50000   1.700599
75%     7.75000   8.75000   2.046059
max    10.00000  11.00000   2.302585