In [17]:
import re
import nltk
import pandas as pd
from nltk.corpus import stopwords
from nltk import word_tokenize, FreqDist

In [3]:
dataset = pd.read_csv("dataset.csv")

In [4]:
dataset.head()

                                      product_review product_category
0  I love, love, love this jumpsuit. it's fun, fl...          Bottoms
1  Beautifully made pants and on trend with the f...          Bottoms
2  I never would have given these pants a second ...          Bottoms
3  These pants are even better in person. the onl...          Bottoms
4  The silhouette and length of this skirt and le...          Bottoms

In [5]:
dataset.shape

(3376, 2)

In [9]:
dataset.product_review[0]

"I love, love, love this jumpsuit. it's fun, flirty, and fabulous! every time i wear it, i get nothing but great compliments!"

In [11]:
dataset["product_category"].value_counts()

product_category
Bottoms     685
Dresses     681
Tops        680
Jackets     680
Intimate    650
Name: count, dtype: int64

In [15]:
dataset["product_review"] = dataset["product_review"].str.lower()

In [16]:
dataset.head()

                                      product_review product_category
0  i love, love, love this jumpsuit. it's fun, fl...          Bottoms
1  beautifully made pants and on trend with the f...          Bottoms
2  i never would have given these pants a second ...          Bottoms
3  these pants are even better in person. the onl...          Bottoms
4  the silhouette and length of this skirt and le...          Bottoms

In [25]:
def remove_punct(s):
    s = re.sub(r"\W", " ", s)
    return re.sub(r"\s+", " ", s)

In [26]:
dataset["product_review"] = dataset["product_review"].apply(remove_punct)

In [27]:
dataset.head()

                                      product_review product_category
0  i love love love this jumpsuit it s fun flirty...          Bottoms
1  beautifully made pants and on trend with the f...          Bottoms
2  i neve would have given these pants a second l...          Bottoms
3  these pants are even bette in person the only ...          Bottoms
4  the silhouette and length of this skirt and le...          Bottoms

In [29]:
dataset["product_review_tokens"] = dataset["product_review"].apply(word_tokenize)

In [30]:
dataset.head()

,product_review,product_category,product_review_tokens
0,i love love love this jumpsuit it s fun flirty...,Bottoms,"[i, love, love, love, this, jumpsuit, it, s, f..."
1,beautifully made pants and on trend with the f...,Bottoms,"[beautifully, made, pants, and, on, trend, wit..."
2,i neve would have given these pants a second l...,Bottoms,"[i, neve, would, have, given, these, pants, a,..."
3,these pants are even bette in person the only ...,Bottoms,"[these, pants, are, even, bette, in, person, t..."
4,the silhouette and length of this skirt and le...,Bottoms,"[the, silhouette, and, length, of, this, skirt..."

In [31]:
s_w = stopwords.words("english")

def remove_sw(tokens:list) -> list:
    return [w for w in tokens if w not in s_w]

In [32]:
dataset["product_review_tokens_cleaned"] = dataset["product_review_tokens"].apply(remove_sw)

In [33]:
dataset.head()

,product_review,product_category,product_review_tokens,product_review_tokens_cleaned
0,i love love love this jumpsuit it s fun flirty...,Bottoms,"[i, love, love, love, this, jumpsuit, it, s, f...","[love, love, love, jumpsuit, fun, flirty, fabu..."
1,beautifully made pants and on trend with the f...,Bottoms,"[beautifully, made, pants, and, on, trend, wit...","[beautifully, made, pants, trend, flared, crop..."
2,i neve would have given these pants a second l...,Bottoms,"[i, neve, would, have, given, these, pants, a,...","[neve, would, given, pants, second, look, onli..."
3,these pants are even bette in person the only ...,Bottoms,"[these, pants, are, even, bette, in, person, t...","[pants, even, bette, person, downside, need, d..."
4,the silhouette and length of this skirt and le...,Bottoms,"[the, silhouette, and, length, of, this, skirt...","[silhouette, length, skirt, length, flattering..."

In [34]:
dataset["product_review_cleaned"] = dataset["product_review_tokens_cleaned"].apply(lambda x: " ".join(x))

In [35]:
dataset.head()

,product_review,product_category,product_review_tokens,product_review_tokens_cleaned,product_review_cleaned
0,i love love love this jumpsuit it s fun flirty...,Bottoms,"[i, love, love, love, this, jumpsuit, it, s, f...","[love, love, love, jumpsuit, fun, flirty, fabu...",love love love jumpsuit fun flirty fabulous ev...
1,beautifully made pants and on trend with the f...,Bottoms,"[beautifully, made, pants, and, on, trend, wit...","[beautifully, made, pants, trend, flared, crop...",beautifully made pants trend flared crop much ...
2,i neve would have given these pants a second l...,Bottoms,"[i, neve, would, have, given, these, pants, a,...","[neve, would, given, pants, second, look, onli...",neve would given pants second look online pers...
3,these pants are even bette in person the only ...,Bottoms,"[these, pants, are, even, bette, in, person, t...","[pants, even, bette, person, downside, need, d...",pants even bette person downside need dry cleaned
4,the silhouette and length of this skirt and le...,Bottoms,"[the, silhouette, and, length, of, this, skirt...","[silhouette, length, skirt, length, flattering...",silhouette length skirt length flattering clas...